:root {
  --background-primary: #1F2227;
  --background-secondary: #282C34;
  --gradient-primary: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(45,50,58,1) 100%);
  --text-primary: #fff;
  --text-secondary: #fff7;
  --text-accent: #81D4FA;
  --color-black: #191919;
  --color-gray: #fff3;
  --color-accent: #81D4FA;
  --color-secondary-accent: #DFC083;
}

body {
  margin: 0;
  font-family: 'Switzer', sans-serif;
  background: #1F2227;
  color: #fff;
}